<a href="https://colab.research.google.com/github/ProjectSupervisaPrivate/Bloque-1/blob/master/prueba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import pandas library 
import pandas as pd

In [0]:
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]]

In [0]:
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age'])

In [4]:
# print dataframe. 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14